[submodule "lib/stm32-ssd1306"]
	path = lib/stm32-ssd1306
	url = git@github.com:afiskon/stm32-ssd1306.git
[submodule "lib/DHT11-STM32-Library"]
	path = lib/DHT11-STM32-Library
	url = git@github.com:mesutkilic/DHT11-STM32-Library.git
